@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,p{
  direction: rtl;
}

html, body {
  overflow-x: hidden;
}

* {
  transition: all 300ms;
}

.filter-black {
  filter: invert(8%) sepia(0%) saturate(25%) hue-rotate(151deg) brightness(0%) contrast(100%);
}


.container {
  margin: auto;
  max-width: 1240px;
}

.circle {
  animation: circle infinite;
  animation-duration: 4s;
}

.image-shadow {
  box-shadow: -10px -10px #0b5d6a;
}

.duration1 {
  animation-duration: 300ms;
}

.duration1 {
  animation-duration: 2s;
}

.duration1 {
  animation-duration: 3s;
}

@keyframes circle {
  0% {
    transform: translateX(0%);
    transform: translateY(0%);
  }

  50% {
    transform: translateX(10%);
    transform: translateY(10%);
  }

  100% {
    transform: translateX(0%);
    transform: translateY(0%);
  }
}